@import "./utils/variables";
@import "./utils/common";

@import "./portfolio/portfolio";
@import "./portfolio/portfolio-work";

@import "./components/header";
@import "./components/hero";
@import "./components/features";
@import "./components/work-section";
@import "./components/team-section";
@import "./components/social-links";
@import "./components/clients";
@import "./components/footer";
@import "./components/footer-links.scss";
@import "./components/footer.subscription";
@import "./components/modal";
@import "./components/form";
