.features {
    padding-bottom: 0;

    &__list {
        display: flex;
    }

    &__item {
        max-width: 270px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--primery-text-color);
    }

    &__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 270px;
        height: 120px;
        background-color: var(--bc-color-team-and-filter);
        margin-bottom: 30px;
        border-radius: 4px;
    }
}
