.header {
    position: relative;
    border-bottom: 1px solid var(--border-bottom-header-color);

    &__logo {
        display: flex;
        align-items: center;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--color-web-studio);
        text-decoration: none;
    }

    &__logo-web {
        color: var(--accent-text);
    }

    &__menu-button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        right: 10px;
        top: 15px;
        border: none;
        background-color: transparent;

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    &__nav {
        min-height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (min-width: 768px) {
            min-height: 80px;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            margin-left: 88px;
        }

        @media screen and (min-width: 1200px) {
            margin-left: 93px;
        }
    }

    &__item {
        display: flex;

        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 32px;
            }
        }

        @media screen and (min-width: 768px) {
            position: relative;

            &:not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    &__item-adress {
        @media screen and (max-width: 767px) {
            &:nth-child(n + 2) {
                margin-bottom: 32px;
            }
        }

        // @media screen and (min-width: 768px) and (max-width: 1199px) {
        //     &:not(:last-child) {
        //         margin-bottom: 10px;
        //     }
        // }

        @media screen and (min-width: 1200px) {
            display: flex;
            &:not(:last-child) {
                margin-right: 30px;
            }
        }
    }

    &__link {
        display: block;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--primery-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            font-size: 14px;

            &--current::after {
                content: "";
                position: absolute;
                background-color: var(--accent-text);
                bottom: -33px;
                left: 0px;
                width: 100%;
                height: 4px;
                border-radius: 2px;
            }
        }

        &--current,
        &:hover,
        &:focus {
            color: var(--accent-text);
            fill: currentColor;
        }
    }

    &__contacts {
        display: none;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__contacting {
        display: flex;
        flex-direction: column-reverse;
        // align-items: flex-start;

        @media screen and (max-width: 767px) {
            display: flex;
            margin-bottom: 64px;
            align-items: flex-start;
        }

        @media screen and (min-width: 768px) {
            flex-direction: column;
            justify-content: center;
        }

        @media screen and (min-width: 1200px) {
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    &__link--tel {
        font-size: 34px;
        color: var(--accent-text);
    }

    &__link--mail {
        font-size: 24px;
        color: var(--title-text-color);
    }

    &__link--adress {
        @media screen and (min-width: 768px) {
            font-size: 12px;
            color: var(--title-text-color);
            fill: currentColor;
        }
        @media screen and (max-width: 1199px) {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
        }
    }

    &__contact-icon {
        display: none;
        margin-right: 10px;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    &__social-links {
        display: flex;

        @media screen and (min-width: 768px) {
            display: none;
        }

        &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
        }
    }

    &__social-links-items {
        &:not(:last-child) {
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            .header__social-link {
                padding-right: 10px;
            }
        }

        &:nth-child(n + 2) {
            .header__social-link {
                padding-left: 10px;
            }
        }
    }

    &__social-link {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-text);
    }

    &__icons:hover,
    &__icons:focus {
        fill: var(--accent-text);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__icon-close {
        opacity: 0;
    }

    &__icon-menu,
    &__icon-close {
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__menu-button.is-open {
        .header__icon-close {
            opacity: 1;
        }
        .header__icon-menu {
            opacity: 0;
        }
    }

    &__icon--current {
    }

    .header__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            flex-direction: row;
        }

        &.is-open {
            @media screen and (max-width: 767px) {
                position: absolute;
                left: 0;
                top: 0;
                width: 100vw;
                height: 100vh;
                padding: 48px 40px;
                background-color: #fff;
                z-index: 2;

                .header__menu-button {
                    position: absolute;
                    top: 10px;
                    right: 15px;
                }

                .header__menu {
                    display: block;
                }

                .header__contacts {
                    display: block;
                }

                .header__logo {
                    display: none;
                }
            }
        }
    }
}

// .header {
//     border-bottom: 1px solid var(--border-bottom-header-color);

//     &__section {
//         display: flex;
//         justify-content: space-between;
//     }

//     &__logo {
//         padding-top: 24px;
//         padding-bottom: 25px;
//         margin-right: 93px;
//         align-items: center;
//         font-family: "Raleway";
//         font-weight: 700;
//         font-size: 26px;
//         line-height: 1.19;
//         letter-spacing: 0.03em;
//         color: var(--color-web-studio);
//         text-decoration: none;
//         text-align: center;
//     }

//     &__logo-web {
//         color: var(--accent-text);
//     }

//     &__link {
//         font-weight: 500;
//         font-size: 14px;
//         line-height: 1.14;
//         letter-spacing: 0.02em;
//         text-decoration: none;
//         color: var(--primery-text-color);

//         &--current,
//         &:hover,
//         &:focus {
//             color: var(--accent-text);
//             fill: var(--accent-text);
//         }
//     }

//     &__link--current::after {
//         display: block;
//         content: "";
//         position: absolute;
//         background-color: var(--accent-text);
//         bottom: -1px;
//         left: 0px;
//         width: 100%;
//         height: 4px;
//         border-radius: 2px;
//     }

//     &__menu {
//         display: flex;
//     }

//     &__item {
//         position: relative;
//     }

//     &__adress-link {
//         color: var(--title-text-color);
//         fill: var(--title-text-color);
//     }

//     &__contacting {
//         margin-left: auto;
//     }

//     &__adress-link:hover,
//     &__adress-link:focus {
//         color: var(--accent-text);
//         fill: var(--accent-text);
//     }

//     &__nav,
//     &__contact {
//         display: flex;
//         align-items: center;
//     }

//     &__link,
//     &__adress-link {
//         display: block;
//         padding-top: 32px;
//         padding-bottom: 32px;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &__menu &__item:not(:last-child),
//     &__contacting &__item:not(:last-child) {
//         margin-right: 50px;
//     }

//     &__contact-icon {
//         margin-right: 10px;
//         content: "";
//         height: 100%;
//         background-size: contain;
//         align-items: center;
//         justify-content: center;
//     }
// }
