.hero {
    min-height: 400px;
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-mobile.jpg");
    background-color: var(--secondary-bc-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }

    @media screen and (max-width: 479px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/hero-mobile.jpg");
        width: 100%;
    }

    @media screen and (min-width: 480px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/hero-mobile.jpg");
    }

    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/hero/hero-mobile-2x.jpg");
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/hero-tablet.jpg");

        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/hero/hero-tablet-2x.jpg");
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url("../images/hero/hero-2x.jpg");
        }
    }

    &__title {
        margin: 0 auto 30px;
        max-width: 360px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--primary-white-color);
    }

    &__button {
        font-family: inherit;
        min-width: 200px;
        height: 50px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        padding: 10px 32px;
        margin-left: auto;
        margin-right: auto;
        color: var(--primary-white-color);
        background-color: var(--accent-text);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.06em;
        border: 1px solid transparent;

        &:hover,
        &:focus {
            background-color: var(--btn-focus-bc);
            color: var(--primary-white-color);
        }
    }
}

// .hero {
//     min-height: 600px;
//     padding-top: 200px;
//     padding-bottom: 200px;
//     margin-left: auto;
//     margin-right: auto;
//     display: flex;
//     align-items: center;
//     background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-position: center;
//     background-color: var(--secondary-bc-color);
//     text-align: center;

//     &__title {
//         margin-bottom: 30px;
//         margin-left: auto;
//         margin-right: auto;
//         max-width: 696px;
//         font-weight: 900;
//         font-size: 44px;
//         line-height: 1.36;
//         text-align: center;
//         letter-spacing: 0.06em;
//         text-transform: uppercase;
//         color: var(--primary-white-color);
//     }

//     &__button {
//         padding: 10px 32px;
//         display: inline-block;
//         border: 1px solid transparent;
//         border-radius: 4px;
//         align-items: center;
//         font-weight: 700;
//         font-size: 16px;
//         line-height: 1.87;
//         text-align: center;
//         letter-spacing: 0.06em;
//         color: var(--primary-white-color);
//         background-color: var(--accent-text);
//         box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//             box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

//         &:hover,
//         &:focus {
//             background-color: var(--btn-focus-bc);
//             color: var(--primary-white-color);
//         }
//     }
// }
