.social-links {
    display: flex;
    justify-content: center;
    margin-top: 16px;

    &__icon {
        display: block;
    }

    &__link {
        display: block;
        padding: 12px;
        border-radius: 50%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    &__link {
        fill: var(--link-color);
        background-color: var(--primary-white-color);

        &:hover,
        &:focus {
            background-color: var(--accent-text);
            fill: var(--primary-white-color);
        }
    }
}

// .social-links {
//     display: flex;
//     justify-content: center;
//     margin-top: 16px;

//     &__item {
//         width: 44px;
//         height: 44px;
//     }

//     &__icon {
//         display: block;
//         fill: currentColor;
//     }

//     &__item:not(:last-child) {
//         margin-right: 10px;
//     }

//     &__link {
//         display: flex;
//         width: 44px;
//         height: 44px;
//         border-radius: 50%;
//         height: 100%;
//         background-color: var(--primary-white-color);
//         color: var(--link-color);
//         justify-content: center;
//         align-items: center;
//         transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     &__link:hover,
//     &__link:focus {
//         background-color: var(--accent-text);
//         color: var(--primary-white-color);
//     }
// }
