h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    padding: 0;
    margin: 0;
}

/* Убираем точки рядом со списками */
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-white-color);
    color: var(--primery-text-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.list {
    list-style: none;
}

.section {
    min-width: 320px;
}

.indent {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

button {
    font-family: inherit;
    cursor: pointer;
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

@mixin breakpointTo($point) {
    @if $point==mobile {
        @media only screen and (max-width: 479.98px) {
            @content;
        }
    }
    @if $point==tablet {
        @media only screen and (max-width: 767.98px) {
            @content;
        }
    }
    @if $point==desktop {
        @media only screen and (max-width: 1199.98px) {
            @content;
        }
    }
}

@mixin breakpointFrom($point) {
    @if $point==mobile {
        @media only screen and (min-width: 480px) {
            @content;
        }
    }
    @if $point==tablet {
        @media only screen and (min-width: 768px) {
            @content;
        }
    }
    @if $point==desktop {
        @media only screen and (min-width: 1200px) {
            @content;
        }
    }
}
