:root {
    --primery-text-color: #212121;
    --title-text-color: #757575;
    --accent-text: #2196f3;
    --primary-white-color: #ffffff;
    --secondary-bc-color: #2f303a;
    --bc-color-team-and-filter: #f5f4fa;
    --border-color: #eeeeee;
    --border-bottom-header-color: #ececec;
    --contact-link-footer: rgba(255, 255, 255, 0.6);
    --color-web-studio: #000000;
    --btn-focus-bc: #188ce8;
    --link-color: #afb1b8;
}
